<div id = "ingredient_listID">
        <button (click)="showIngredientList()" >
                <span>=</span>
              </button>
   <app-ingredient-list [@slideInOut]="listShowState" [ingredient_list] = "selectedRecipe.ingredient_list" ></app-ingredient-list>
</div>
<br>
<div>
    <div className="video-detail col-md-8">
  <div className="embed-responsive embed-responsive-16by9">
      <iframe width="600" height="400" [src]="iframeURL" frameborder="0" allow=" encrypted-media" allowfullscreen></iframe>
  </div>
  <div className="details">
      <div><h3>{{selectedRecipe.title}}</h3></div>
      <div>{{selectedRecipe.description}}</div>
  </div>
  </div>
</div>


