  <header>
      <mat-toolbar color="primary">
          <mat-toolbar-row>
            The Recipe App
            <span id = "searchBar">
                <input matInput [(ngModel)]="searchText" placeholder="search text goes here">
            </span>
          </mat-toolbar-row>
</mat-toolbar></header>



<div class = "recipeListDiv"  *ngFor="let recipe of recipeList | recipeSearch : searchText" >
    <app-recipe-card [recipeItem] =  "recipe" ></app-recipe-card>
</div>

           <div id= "addButton">
              <button  (click) = "openDialog()" mat-fab>+</button>
           </div>